/* Font imports */

@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed&display=swap');



/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

html, body, h1, h3, p, h2 {
  font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Mobile */

@media only screen and (max-width: 600px) {
  .company-search-bar-nav {
    margin-top: 10px;
    margin-left: 18px;
  }

  .company-search-and-logo {
    display: flex;
  }

  .company-nav-logout-button {
    border: none;
    font-size: 16px;
    color: black;
    align-self: center;
    cursor: pointer;
  }

  .company-nav-logout-button:hover {
    color:  #21ce99;
  }

  #company-nav-logo-robinhood {
    display: none;
  }

  #company-logo-react-router {
    color: black;
  }

  #company-name-react-router {
    color: black;
  }

  /* #company-nav-logo-robinhood:hover {
    color:  #21ce99;
  } */

  #company-logo-for-companies-page {
    width: 64px;
  }

  .company-search-bar {
    /* width: 70%; */
    display: flex;
    justify-content: center;
    /* height: 28px; */
    /* margin: 0px 61px; */
    /* border: 1px solid lightgrey; */
    border-radius: 3px;
    height: 37px;
    /* margin-top: 14px; */
    outline: none;
    padding-left: 8px;
    border: 0;
  }

  .github-h1-item-stack-tab {
    display: none;
  }

  /* Login */

  .submit-button {
    background-color: #21ce99;
    border-color: #21ce99;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 48px;
    width: 140px;
    color: #fff;
    font-size: 14px;
    margin-left: 25px;
    margin-top: 30px;
    cursor: pointer;
  }

  .submit-button:hover {
    background: #0af2ac;
  }

  #signup-link {
    position: absolute;
    top: 75%;
    background-color: white;
    border: 2px solid #21ce99;
    border-radius: 4px;
    height: 48px;
    width: 140px;
    color: #21ce99;
    font-size: 14px;
    margin-left: 25px;
    cursor: pointer;
  }

  #signup-link a {
    color: #21ce99;
  }

  .welcome-h1 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 40px;
    margin-left: 25px;
  }

  .form-content-wrapper {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 24%;
  }

  .form-input {
    display: block;
    background: #fafafa;
    height: 20px;
    padding: 15px 20px;
    border: 1px solid #fafafa;
    border-radius: 4px;
    width: 85%;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .form-input:hover {
    background-color: white;
    border-radius: 4px;
    border-color: lightgrey;
  }

  .form-input:focus {
    outline: 1px solid #21ce99;
    border-radius: 4px;
    background-color: white;
  }

  .form-label {
     font-size: 15px;
     font-weight: 300;
     color: #171718;
     padding: 10px 0px;
     width: 90%;
     margin: -20px auto;
  }

  .form-container {
    align-content: center;
  }

  .image-div {
    display: none;
  }

  /* Sign up */

  .signup-form-container {
    /* height: 100%; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  .signup-header {
    font-size: 33px;
    font-weight: 100;
    margin-bottom: 12px;
    color: #040d14;
    text-align: center;
  }

  .signup-message {
    font-size: 17px;
    font-weight: 100;
    margin: 12px 23px;
    text-align: center;
    color: #040d14;
  }

  .signup-input {
    display: block;
    height: 18px;
    padding: 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    width: 75%;
    cursor: pointer;
    margin: 5px auto;
    background: #fff;
    font-size: 18px;
    font-weight: lighter;
    padding-left: 18px;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
  }

  .signup-input:focus {
    outline: 1px solid #21ce99;
    border-radius: 4px;
  }

  .signup-input:active {
    border: 1px solid;
    border-radius: 4px;
    border-color: #21ce99;
  }

  .sign-up-logo {
    display: none;
  }
  
  .signup-submit {
    width: 83%;
    background-color: #21ce99;
    color: #fff;
    display: block;
    height: 20px;
    padding: 23px 20px;
    margin: auto;
    border-radius: 8px;
    font-size: 18px;
    line-height: 4px;
    margin-top: 15px;
  }

  .signup-submit:hover {
    cursor: pointer;
    background-color:#269876;
  }

  #demo-button {
    /* width: 167px; */
    background-color: white;
    color: #21ce99;
    /* display: block; */
    /* height: 20px; */
    padding: 12px 20px;
    /* margin: 0 auto; */
    /* margin-top: 60px; */
    border: 2px solid #21ce99;
    border-radius: 8px;
    font-size: 18px;
    /* line-height: 4px; */
    /* position: absolute; */
    /* top: 69%; */
    margin-top: 25px;
  }

  #demo-button:hover {
    cursor: pointer;
    background-color:#269876;
    color: white;
  }

  .signup-form {
    /* width: 100%;
    position: absolute;
    top: 12%; */
    margin-top: 25px;
  }

  .signup-navbar {
    display: none;
  }

  .signup-underline {
    display: none;
  }

  .signup-image-div-flex {
    display: none;
  }

  .sign-up-logo {
    display: none;
  }


  /* Mobile Splash */

  .signup-button-on-splash {
    display: none;
  }
  .splash-nav-bar {
    background-color: rgb(255, 255, 255);
    height: 60px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    padding: 0px 10px;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  .nav-splash-span {
    display: flex;
    position: absolute;
    right: 5%;
    margin-right: 10px;
  }

  .splash-nav-link {
    margin: 18px 7px;
    font-size: 20px;
    text-decoration: none;
    color: black;
  }

  .splash-nav-logo {
    font-size: 22px;
    margin: 16px 0px;
    margin-left: 10px;
  }

  .splash-hero-section {
    background-color: #21ce99;
    padding-top: 60px;
    height: 757px;
  }

  .splash-hero-h1 {
    margin-top: 33px;
    font-size: 50px;
    font-weight: bold;
    padding: 20px 20px;
  }

  .splash-hero-h3 {
    font-size: 27px;
    padding: 0px 20px;
  }

  .splash-commission-section {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #express-logo-stack {
    width: 145px;
    height: 52px;
    margin-top: 25px;
  }

  .node-js-logo-stack {
   margin-right: 14px;
  }

  .splash-cash-management {
     background-color: rgb(242, 242, 242);
     height: 500px;
  }

  .logo-splash-item {
    height: 100px;
    position: absolute;
    right: 5%;
  }

  .hero-banner-photo {
    width: 100%;
  }

  .splash-portfolio-section {
    background-color: black;
  }

  .redux-logo-splash {
    right: 44px;
  }

  .splash-product-section {
    background-color: rgb(255, 255, 255);
  }

  #mongoose-logo {
    width: 120px;
    height: 66px;
    margin-top: 20px;
  }

  .splash-footer {
    background-color: black;
  }

  .splash-commission-h1 {
    margin-top: 10px;
    font-size: 50px;
    font-weight: bold;
    padding: 20px 20px;
    text-align: center;
  }

  .stack-item {
    border-top: 1px solid rgba(217, 219, 224, 0.5);
    margin: 0px 16px;
    display: flex;
    padding-right: 120px;
    width: 100%;
  }

  .stack-item-column {
    display: flex;
    flex-direction: column;
  }

  .large-stack-image {
    margin-top: 17px;
    right: 71px;
  }

  .passport-js-logo {
    height: 90px;
    right: 42px;
    margin-top: 5px;
  }

  .stack-item-h3 {
    color: rgb(45, 49, 56);
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 20px;
  }

  .stack-item-p {
    color: rgba(143, 149, 163, 0.9);
    font-size: 14px;
    margin-bottom: 5px;
  }

  .stack-item-type {
    color: #21ce99;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .github-logo {
    height: 72px;
    margin: 20px;
  }

  .github-stack {
    border-bottom: 0.5px solid white;
    display: flex;
    flex-direction: row;
    padding-right: 0px;
  }

  .github-span-container {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: auto;
  }

  .link-out-link-out {
    text-decoration: none;
  }


  .github-h1 {
    color: white;
    font-size: 30px;
    margin-top: 35px;
    margin-left: 10px;
  }

  .github-header {
    margin: 45px auto;
    font-size: 44px;
  }

  #green-pied-piper-logo {
    display: none;
  }

  .nav-bar-nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
  }

}

/* Tablet */
@media only screen and (min-width: 600px) {
  html, body {
    height: 100%;
  }

  .company-search-and-logo {
    display: flex;
  }

  .company-search-first {
        display: flex;
    align-items: center;
  }


   .company-search-bar-nav {
    height: 30px;
    width: 400px;
    margin-top: 12px;
    outline: none;
  }

  .company-search-bar-nav {
    height: 37px;
    width: 400px;
    margin-top: 14px;
    outline: none;
    padding-left: 8px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
  }

  /* Login */

#signup-link {
    position: absolute;
    top: 75%;
    background-color: white;
    border: 2px solid #21ce99;
    border-radius: 4px;
    height: 48px;
    width: 140px;
    color: #21ce99;
    font-size: 14px;
    margin-left: 25px;
    cursor: pointer;
  }

  #signup-link a {
    color: #21ce99;
  }


  .submit-button {
    background-color: #21ce99;
    border-color: #21ce99;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 48px;
    width: 300px;
  }

  .image-div {
    background-image: url("images/green-background.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 0.00001px;
    flex-grow: 1;
    flex-shrink: 1;
    -webkit-box-flex: 1;
  }

  .multi-page-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
    position: absolute;
    height: 100%;
    overflow: hidden;
  }

 .form-container {
    width: 580px;
    height: 100%;
    position: relative;
  }

  .form-content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 24%;
  }

  #root {
    /* height: 100%; */
  }

  .main-div {
    /* height: 100%; */
  }

  .form-label {
     font-size: 15px;
     font-weight: 300;
     color: #171718;
     padding: 10px 0px;
     width: 90%;
     margin: -20px auto;
  }
  
  .welcome-h1 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 40px;
    margin-left: 25px;
  }

  .form-input {
    display: block;
    background: #fafafa;
    height: 20px;
    padding: 15px 20px;
    border: 1px solid #fafafa;
    border-radius: 4px;
    width: 425px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .form-input:hover {
    background-color: white;
    border-radius: 4px;
    border-color: lightgrey;
  }

  .form-input:focus {
    outline: 1px solid #21ce99;
    border-radius: 4px;
    background-color: white;
  }

  .form-label {
     font-size: 15px;
     font-weight: 300;
     color: #171718;
     padding: 10px 0px;
     width: 90%;
     margin: -20px auto;
  }

  .submit-button {
    background-color: #21ce99;
    border-color: #21ce99;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 48px;
    width: 140px;
    color: #fff;
    font-size: 14px;
    margin-left: 25px;
    margin-top: 30px;
    cursor: pointer;
  }

  .submit-button:hover {
    background: #0af2ac;
  }

  /* Sign up */

  .signup-navbar {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
  }

  .signup-nav-link {
    font-size: 20px;
    margin: 0px 15px;
    text-decoration: none;
    color: silver;
  }

  .sign-up-active {
    color: #21ce99;
  }

  .signup-underline {
    height: 0px;
    border: 2px solid #f5f7fa;
    width: 500px;
    margin: auto;
  }


  /* TEST */
  .signup-form-container {
    /* height: 100%; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  .signup-header {
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 12px;
    margin-left: 11%;
    color: #040d14;
    margin-top: 50px;
  }

  .signup-message {
    font-size: 20px;
    font-weight: 100;
    margin: 10px 11%;
    color: #040d14;
  }

  .signup-input {
    display: block;
    height: 18px;
    padding: 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    width: 75%;
    cursor: pointer;
    margin: 5px auto;
    background: #fff;
    font-size: 18px;
    font-weight: lighter;
    padding-left: 18px;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
  }

  .signup-input:focus {
    outline: 1px solid #21ce99;
    border-radius: 4px;
  }

  .signup-input:active {
    border: 1px solid;
    border-radius: 4px;
    border-color: #21ce99;
  }

  .signup-submit {
    width: 83%;
    background-color: #21ce99;
    color: #fff;
    display: block;
    height: 20px;
    padding: 23px 20px;
    margin: auto;
    border-radius: 8px;
    font-size: 18px;
    line-height: 4px;
    margin-top: 15px;
  }

  .signup-submit:hover {
    cursor: pointer;
    background-color:#269876;
  }

  .signup-form {
    /* width: 100%;
    position: absolute;
    top: 12%; */
  }

  .signup-image-div-flex {
    display: none;
  }

  .sign-up-logo {
    position: absolute;
    left: 5%; 
    top: 15px;
    width: 75px;
  }

  #demo-button {
    /* width: 167px; */
    background-color: white;
    color: #21ce99;
    /* display: block; */
    /* height: 20px; */
    padding: 12px 20px;
    /* margin: 0 auto; */
    /* margin-top: 60px; */
    border: 2px solid #21ce99;
    border-radius: 8px;
    font-size: 18px;
    /* line-height: 4px; */
    /* position: absolute; */
    /* top: 69%; */
    margin-top: 25px;
  }

  /* Tablet Splash */

  #hide-me {
    display: none;
  }

  .github-stack-tablet-card:hover {
    background-color: rgb(225, 225, 225, 0.21);
  }

  .github-h1-item-stack-tab {
    font-size: 20px;
    font-weight: 700;
    margin: 25px;
    margin-left: 3%;
    margin-right: 3%;
    border-bottom: 1px solid rgba(255, 255, 255);
    padding-bottom: 18px;
    color: white;
    padding-top: 40px;
  }

  .github-h1 {
    color: white;
    text-decoration: none;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
  }

  .splash-nav-bar {
    background-color: rgb(255, 255, 255);
    height: 60px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    padding: 0px 10px;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  .nav-splash-span {
    display: flex;
    position: absolute;
    right: 5%;
    margin-right: 10px;
  }

  .splash-nav-link {
    margin: 18px 7px;
    font-size: 20px;
    text-decoration: none;
    color: black;
  }

  .splash-nav-logo {
    font-size: 22px;
    margin: 16px 0px;
    margin-left: 10px;
  }

  .signup-splash-link {
    background-color: #21ce99;
    padding: 9px;
    border-radius: 10px;
    margin-top: 9px;
  }

  .signup-splash-link:hover {
    background-color: #18563e;
    color: white;
    transition: width 300ms ease 0.5s;
  }

  .login-splash-link {
    margin-right: 20px;
  }

  .login-splash-link:hover {
    color: #18563e;
  }

  .splash-hero-section {
    background-color: #21ce99;
    padding-top: 60px;
    height: 700px;
  }

  .splash-hero-h1 {
    margin-top: 95px;
    font-size: 73px;
    font-weight: bold;
    padding: 20px 15%;
    text-align: center;
    margin-bottom: 20px;
  }

  .splash-hero-h3 {
    font-size: 27px;
    padding: 0px 15%;
    text-align: center;
  }

  .hero-banner-photo {
    display: none;
  }

  .signup-button-on-splash {
    font-size: 25px;
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 15px 100px;
    border-radius: 10px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    width: 100px;
    margin: 70px auto;
  }

  .signup-button-on-splash:hover {
    background-color: black;
    transition: ease 0.5s;
    color: #21ce99;
  }

  .stack-item {
    margin: 10px;
    display: inline-flex;
    padding: 10px;
    width: 41%;
    height: 150px;
    /* margin-left: 3%; */
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
  }

  .stack-item:hover {
    box-shadow: 0 1px 3px 1px rgba(60,64,67,.2), 0 2px 8px 4px rgba(60,64,67,.1);;
  }

  .stack-item:hover {
    background-color: #f1f1f1;
    /* opacity: 16%; */
    transition: 0.5s ease;
  }

  .stack-item-column {
    display: flex;
    flex-direction: column;
  }

  .splash-commission-section {
    background-color: rgb(255, 255, 255);
    /* display: flex; */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  .logo-splash-item {
    /* height: 100px;
    position: absolute;
    right: 5%; */
    display: none;
  }

  .stack-item-h3 {
    color: rgb(45, 49, 56);
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 8px;
    margin-top: 20px;
  }

  .stack-item-p {
    color: rgba(143, 149, 163, 0.9);
    font-size: 16px;
    margin-bottom: 8px;
  }

  .github-span-container {
    width: 100%;
  }

  .stack-item-type {
    color: #21ce99;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .splash-commission-h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 25px;
    margin-left: 9%;
    margin-right: 9%;
    border-bottom: 1px solid rgba(60,64,67,.08);
    padding-bottom: 18px;
  }

  .mongo-db-card-splash-item {
    width: 89%;
  }

  #github-accounts-h1-splash {
    font-size: 20px;
    font-weight: 700; 
    margin: 25px;
    margin-left: 5%;
    margin-right: 9%;
    border-bottom: 1px solid rgba(60,64,67,.08);
    padding-bottom: 18px;
  }

  .splash-portfolio-section {
    background-color: black;
    height: 365px
  }

  .github-stack-tablet-card {
    margin: 15px 14px;
    display: inline-flex;
    padding: 10px;
    width: 180px;
    height: 180px;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
    position: relative;
    left: 5%;
    background-color: rgb(225, 225, 225, 0.09);
    border-radius: 4px;
  }

  .github-stack-tablet-card:hover {
     background-color: rgb(225, 225, 225, 0.21);
    }

  .github-flexbox-tab {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 86px;
    flex-wrap: wrap;
  }

  .github-stack:hover {
    /* opacity: 0.16;
    background-color: white; */
  }

  .github-logo {
    margin-top: 10px;
    position: relative;
    padding: 3px 28px;
  }

   .svg-inline--fa {
    fill: black;
    width: 43px;
    position: relative;
    top: -8px;
  }

  #green-pied-piper-logo {
    /* position: absolute;
    left: 4%;
    top: 21px;
    width: 75px;
    color: #21ce99; */
    display: none;
  }








  /* TESTING COMPANY NAVBAR  */

    #company-nav-logo-robinhood {
    /* margin-top: 20px;
    position: relative;
    margin-left: 23%;
    margin-right: 20px;
    font-size: 18px; */
    display: none;
  }

  #company-nav-logo-robinhood:hover {
    /* color: #21ce99;
    transition: ease 0.5s; */
    display: none;
  }

  .company-search-bar-nav {
    height: 37px;
    width: 400px;
    outline: none;
  }

  .company-search-bar-nav {
    height: 37px;
    width: 350px;
    outline: none;
    padding-left: 8px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    display: flex;
    justify-content: center;
  }

  .company-search-bar-nav:hover {
    height: 37px;
    width: 350px;
    margin-top: 12px;
    outline: none;
    transition: 0.5s ease;
    padding-left: 8px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0, 0, 0, 0.2);
  }

  .company-search-bar-nav::placeholder {
    font-size: 14px;
    padding-left: 5px;
  }

  .nav-bar-nav-bar {
    background-color: rgb(255, 255, 255);
    height: 40px;
    padding: 15px 10px;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
    justify-content: space-between;
  }

  .company-nav-logout-button {
        border: none;
    font-size: 18px;
    color: black;
    cursor: pointer;
    margin-right: 33px;
  }    

  .company-nav-logout-button:hover {
    cursor: pointer;
    color: #21ce99;
    transition: ease 0.3s;
  }

  #company-logo-for-companies-page {
    fill: black;
    width: 58px;
    position: relative;
    top: 0px;
  }
  /* #company-logo-for-companies-page {
    display: none;
  } */

  /* #company-logo-for-companies-page:hover {
    display: none;
  } */

  .company-search {
    display: flex;
    flex-direction: column;
  }

  .company-search-input {
    display: flex;
    justify-content: center;
  }

  .company-search-bar {
    border: none;
    height: 25px;
    width: 270px;
  }

}

/* Desktop */
@media only screen and (min-width: 992px) {
  
  /* Login */
  .form-container {
    width: 50%;
    height: 100%;
    position: relative;
  }

  .form-input {
    display: block;
    background: #fafafa;
    height: 20px;
    padding: 15px 20px;
    border: 1px solid #fafafa;
    border-radius: 4px;
    width: 425px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  #signup-link {
    position: absolute;
    top: 75%;
    background-color: white;
    border: 2px solid #21ce99;
    border-radius: 4px;
    height: 48px;
    width: 140px;
    color: #21ce99;
    font-size: 14px;
    margin-left: 25px;
    cursor: pointer;
  }

  #signup-link a {
    color: #21ce99;
  }

  /* Sign up */

  #demo-button {
    width: 167px;
    background-color: white;
    color: #21ce99;
    display: block;
    height: 20px;
    padding: 20px 20px;
    margin: 0 auto;
    margin-top: 60px;
    border: 2px solid #21ce99;
    border-radius: 8px;
    font-size: 18px;
    line-height: 4px;
  }

  #demo-button:hover {
    cursor: pointer;
    background-color:#269876;
    color: white;
  }

  .signup-navbar {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
  }

  .signup-nav-link {
    font-size: 25px;
    margin: 0px 20px;
    text-decoration: none;
    color:silver;
  }

  .sign-up-active {
    color: #21ce99;
  }

  .signup-underline {
    height: 0px;
    border: 2px solid #f5f7fa;
    width: 550px;
    margin: auto;
  }

  .signup-form-container {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .signup-header {
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 12px;
    margin-left: 17%;
    color: #040d14;
    margin-top: 50px;
  }

  .signup-message {
    font-size: 20px;
    font-weight: 100;
    margin: 10px 17%;
    color: #040d14;
  }

  .signup-input {
    display: block;
    height: 18px;
    padding: 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    width: 60%;
    cursor: pointer;
    margin: 5px auto;
    background: #fff;
    font-size: 18px;
    font-weight: lighter;
    padding-left: 18px;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
  }

  .signup-input:focus {
    outline: 1px solid #21ce99;
    border-radius: 4px;
  }

  .signup-input:active {
    border: 1px solid;
    border-radius: 4px;
    border-color: #21ce99;
  }

  .signup-submit {
    width: 70%;
    background-color: #21ce99;
    color: #fff;
    display: block;
    height: 20px;
    padding: 23px 20px;
    margin: auto;
    border-radius: 8px;
    font-size: 18px;
    line-height: 4px;
    margin-top: 15px;
  }

  .signup-submit:hover {
    cursor: pointer;
    background-color:#269876;
  }

  .signup-form {
    width: 100%;
    position: relative;
    top: 12%;
  }

  .signup-image-div-flex {
    width: 33%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
  }

  .sign-up-logo {
    position: absolute;
    left: 17%; 
    top: 21px;
    width: 75px;
  }

  .main-signup-flex {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
  }

  .security-image {
    width: 200px;
    height: 200px;
    margin: 28px auto;
  }

  .security-h3 {
    font-size: 22px;
    margin: 12px auto 10px;
    text-align: center;
  }

  .security-h3:last-of-type {
    margin: 0 auto 20px;
  }

  .security-p {
    font-size: 17px;
    margin: 5px;
    text-align: center;
    color: silver;
    font-weight: 100;
    line-height: 1.5;
  }

  /* Desktop Splash */

  .splash-hero-section {
    background-color: #21ce99;
    padding-top: 60px;
    height: 575px;
  }

  .stack-item {
   margin: 15px 14px;
    display: inline-flex;
    padding: 10px;
    width: 25%;
    height: 155px;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
    /* position: relative; */
    /* left: 5%; */
}

.company-logo-and-logout {
  display: flex;
}

  .company-logo-and-logout {
   display: flex;
  }

  .stack-item:hover {
    box-shadow: 0 1px 3px 1px rgba(60,64,67,.2), 0 2px 8px 4px rgba(60,64,67,.1);;
  }

  .stack-item:hover {
    background-color: #f1f1f1;
    /* opacity: 16%; */
    transition: 0.5s ease;
  }

  .stack-item-column {
    display: flex;
    flex-direction: column;
  }

  .github-stack-tablet-card {
    margin: 15px 14px;
    display: inline-flex;
    padding: 10px;
    width: 25%;
    height: 155px;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
    position: relative;
    left: 5%;
    background-color: rgb(225, 225, 225, 0.09);
    border-radius: 4px;
  }

  .splash-commission-h1 {
    margin-left: 9%;
    margin-right: 9%;
  }

  .github-h1-item-stack-tab {
    margin-left: 7%;
    margin-right: 12%;
  }

  .github-flexbox-tab {
    display: relative;
  }

  .github-stack-tablet-card:hover {
    background-color: rgb(225, 225, 225, 0.21);
  }

  .github-h1 {
    color: white;
    font-size: 24px;
    margin-top: 10px;
    margin-left: 12px;
    text-align: left;
  }

  .github-logo {
    Margin-top: -15px;
    Margin-left: 55%;
    padding: 0;
  }

  .splash-portfolio-section {
    height: 365px;
  }

  .github-span-container {
    width: 100%;
  }

  .svg-inline--fa {
    fill: black;
    width: 43px;
    position: relative;
    top: -8px;
  }

  #green-pied-piper-logo {
    display: unset;
    position: absolute;
    left: 18%;
    top: 21px;
    width: 75px;
    color: #21ce99;
  }

  #company-nav-logo-robinhood {
    padding-right: 20px;
    margin-top: 28px;
    position: relative;
    font-size: 18px;
    display: unset;
  }

  #company-nav-logo-robinhood:hover {
    color: #21ce99;
    transition: ease 0.5s;
    display: unset;
  }

  .company-search-bar {
    border: 0;
  }

  .company-search-bar-nav {
    height: 30px;
    width: 400px;
    outline: none;
  }

  .company-search-bar-nav {
    height: 37px;
    width: 400px;
    outline: none;
    padding-left: 8px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
  }

  .company-search-first {
    display: flex;
    align-items: center;
  }

  .company-search-bar-nav svg {
    margin-right: 10px;
  }

  .company-search-bar::placeholder {
    font-size: 15px;
  }

  .company-search-bar-nav:hover {
   height: 37px;
    width: 400px;
    margin-top: 12px;
    outline: none;
    padding-left: 8px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
  }

  .company-search-bar-nav::placeholder {
    font-size: 14px;
    padding-left: 5px;
  }

  .nav-bar-nav-bar {
    background-color: rgb(255, 255, 255);
    height: 60px;
    padding: 15px 10px;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  .company-nav-logout-button {
    
    border: none;
    font-size: 18px;
    color: black;
    cursor: pointer;
    display: unset;
    align-self: center;
  }    

  .company-nav-logout-button:hover {
    cursor: pointer;
    color: #21ce99;
    transition: ease 0.3s;
    display: unset;
  }

  #company-logo-for-companies-page {
    width: 50px;
    margin-left: 20px;
    margin-right: 40px;
    display: unset;
  }

  #company-logo-for-companies-page:hover {
    color: #21ce99;
    transition: ease 0.3s;
    display: unset;
  }

  .company-search {
    display: flex;
  }

   .nav-splash-span {
    display: flex;
    position: absolute;
    right: 2%;
    margin-right: 10px;
  }

  .company-search-and-logo {
    display: flex;
    flex-direction: row;
    margin-left: 7%;
  }
  .company-logo-and-logout {
    display: flex;
    flex-direction: row;
    margin-right: 14%;
  }

  #company-logo-react-router {
    color: black;
    align-self: center;
  }

  #company-name-react-router {
    color: black;
    align-self: center;
  }
}
